.countdown
  .sub
    The man burns in
  .counter
    = @days_till[:burn]
    days

.countdown
  .sub
    The gate opens in
  .counter
    = @days_till[:gate]
    days

.countdown
  .sub
    The ticket lottery opens in
  .counter
    = @days_till[:tickets]
    days
