.countdown.poem
  the man has burnt
  %br/
  the embers of the temple rain gently upon the playa
  %br/
  until next year


-# @dates.each do |date|
  .countdown
    .sub
      = date[:message]
    .counter
      = pluralize(date[:days_till], 'day')
